<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render @users %>
    userクラスのuser変数に対してrenderを実行している
    これによりrailsが自動的に_user.html.erbを探しに行ってくれる
  <% end %>
</ul>


<%= will_paginate %>
